.partners-container__item_nike {
  background-image: url(/images/wp_logo.svg);
  background-size: 66%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_nike {
    background-size: 82%;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item_nike {
    background-size: 63%;
  }
}
