.partners-container__item_mcd {
  background-image: url(/images/marvel_studios_logo.svg);
  background-size: 62%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_mcd {
    background-size: 74%;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item_mcd {
    background-size: 60%;
  }
}
