@import url("./__item-top/button-container__item.css");

.button-container {
  cursor: pointer;
  margin: 22px 20px 0 0;
  display: none;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .button-container {
    display: block;
  }
}

@media screen and (max-width: 618px) {
  .button-container {
    margin: 22px 20px 0 13px;
  }
}
