.partners-container__item_ikea {
  background-image: url(/images/world_health_organization_logo.svg);
  background-size: 79%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_ikea {
    background-size: 96.5%;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item_ikea {
    background-size: 78%;
  }
}
