.side-nav__btn-close {
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 40px;
  margin-left: 50px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  list-style-type: none;
}

.side-nav__btn-close:hover {
  opacity: 0.5;
}
