.header__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 4px;
  color: #bbc4d6;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  height: 100%;
  outline: none;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__input {
    font-family: "Montserrat";
    line-height: 17px;
    margin-top: 4px;
  }
}
