.header-container {
  width: 81%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1441px) {
  .header-container {
    max-width: 1170px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 95%;
  }
}

@media screen and (max-width: 618px) {
  .header-container {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
