.partners-container__item_caterpillar {
  background-image: url(/images/xbox_logo.svg);
  background-size: 77%;
}
@media screen and (max-width: 375px) {
  .partners-container__item_caterpillar {
    background-size: 65%;
  }
}
