@import url("./__item/header-nav__item.css");
@import url("./__items/header-nav__items.css");
.header-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: black;
  overflow-x: hidden;
  padding-top: 40px;
}

@media screen and (max-width: 1200px) {
  .header-nav {
    display: none;
  }
}
