@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url("../fonts/Roboto-Regular.otf") format("otf"),
    url("../fonts/Roboto-Regular.ttf") format("ttf"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url("../fonts/Roboto-Medium.otf") format("otf"),
    url("../fonts/Roboto-Medium.ttf") format("ttf"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat");
  src: url("../fonts/Montserrat-Regular.otf") format("otf"),
    url("../fonts/Montserrat-Regular.ttf") format("ttf"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}
