.partners__title {
  margin: 70px 0 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
}

@media screen and (max-width: 768px) {
  .partners__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 375px) {
  .partners__title {
    margin-top: 56px;
  }
}
