.header__input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 40px;
  position: relative;
  width: 80%;
  background-color: white;
  border: 1px solid #ebebf1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 12px 7px 8px;
  margin: 20px 60px;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .header__input-container {
    margin: 20px 50px;
  }
}
@media screen and (max-width: 618px) {
  .header__input-container {
    max-width: 100%;
    border: none;
  }
}
