.side-nav__item {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.side-nav__item:hover {
  opacity: 0.5;
}

.side-nav__item a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
