.page {
  font-family: "Roboto";
  min-width: 375px;
  transition:margin-left 0.5s;
}

@media screen and (min-width: 1441px) {
  .page {
    min-height: 900px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .page {
    min-height: 1024px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-height: 1423px;
  }
}
@media screen and (min-width: 1201px) {
  .page {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    margin-left: 0;
  }
}