.partners-container__item_reebok {
  background-image: url(/images/billboard_logo.svg);
  background-size: 88%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_reebok {
    background-size: 81%;
  }
}
@media screen and (max-width: 375px) {
  .partners-container__item_reebok {
    background-size: 70%;
  }
}
