.header__profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 1px solid #ebebf1;
  padding-left: 19px;
}

@media screen and (max-width: 618px) {
  .header__profile-container {
    display: none;
  }
}
