@import url("./__title/partners__title.css");

.partners {
  margin: 0 auto;
  width: 81%;
  margin: 0 auto;
}
@media screen and (min-width: 1441px) {
  .partners {
    max-width: 1170px;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    width: 95%;
  }
}

@media screen and (max-width: 375px) {
  .partners {
    width: 89%;
  }
}
