.header__profile-stroke {
  top: 22px;
  right: 20px;
  position: absolute;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 619px) {
  .header__profile-stroke {
    display: none;
  }
}
