.partners-container__item_deere {
  background-image: url(/images/toyota_logo.svg);
  background-size: 87%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_deere {
    background-size: 80%;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item_deere {
    background-size: 70%;
  }
}
