@import url("./__item/partners-container__item.css");

.partners-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .partners-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
  .partners-container {
    flex-direction: column;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
