@import url('./__logo/header__logo.css');
@import url('./__input-container/header__input-container.css');
@import url('./__input/header__input.css');
@import url('./__profile-container/header__profile-container.css');
@import url('./__title/header__title.css');
@import url('./__title/header__title.css');
@import url('./__user/header__user.css');
@import url('./__profile-stroke/header__profile-stroke.css');

.header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    height: 81px;
  }