.partners-container__item_henkel {
  background-image: url(/images/AT&T_logo.svg);
  background-size: 64%;
}

@media screen and (max-width: 768px) {
  .partners-container__item_henkel {
    background-size: 71%;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item_henkel {
    background-size: 64%;
  }
}
