@import url("./__item/side-nav__item.css");
@import url("./__items/side-nav__items.css");
@import url("./__btn-close/side-nav__btn-close.css");

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .side-nav {
    display: block;
  }
}

@media screen and (min-width: 1201px) {
  .side-nav {
    display: none;
  }
}
