@import url("./_deere/partners-container__item_deere.css");
@import url("./_henkel/partners-container__item_henkel.css");
@import url("./_mcd/partners-container__item_mcd.css");
@import url("./_ikea/partners-container__item_ikea.css");
@import url("./_reebok/partners-container__item_reebok.css");
@import url("./_nike/partners-container__item_nike.css");
@import url("./_caterpillar/partners-container__item_caterpillar.css");

.partners-container__item {
  background: #ffffff;
  border: 1px solid #ebebf1;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 100px;
  cursor: url(/images/cursor.svg), pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.partners-container__item:hover {
  background-color: #ffffff;
  border: 1px solid #ebebf1;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .partners-container__item {
    min-height: 120px;
  }
}

@media screen and (max-width: 375px) {
  .partners-container__item {
    min-height: 140px;
  }
}
